.header {
    width: 100%;
    background: linear-gradient(to right, #001a30, #ea1d2d, #ea1d2d, #fcd700);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.title {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 0 0 25px rgba(255, 255, 255, 0.4);
    letter-spacing: 1px;
}

.standings-container {
    width: 90%;
    margin: 0 auto;
}

.searchbar {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.headerlogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    position: absolute;
    padding-left: 30px;
}

.subheader {
    display: flex;
    justify-content: center; /* Centers images horizontally */
    align-items: center; /* Centers images vertically (if needed) */
    gap: 100px; /* Space of 100px between images */
    flex-wrap: wrap; /* Ensures wrapping if needed */
}

.mat-header-row {
    background-color: #a8a9ac;
    color: #001a30;
}

.mat-row:nth-child(even) {
    background-color: #a8a9ac;
    color: #001a30;
}

.mat-row:nth-child(odd) {
    background-color: #001a30;
    color: #a8a9ac;
}

.searchbar .mat-form-field-label {
    color: white; /* Label color */
}

.searchbar .mat-input-element {
    color: white; /* Text color */
}